<div class=" body">
  <div class="home">
    <div class="col d-flex justify-content-center mt-2">
      <div class="col-sm-4">
        <div class="card" style="border: 0ch">
          <img src="/../assets/estrella.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">ESTRELLAS</h5>
            <a href="estrellas/" class="btn btn-primary">VER</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="border: 0ch">
          <img src="/../assets/planeta.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">PLANETAS</h5>
            <a href="planetas/" class="btn btn-primary">VER</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>